<ion-view view-title="Add Employee">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="main-background">
    <form name="formAddEmployee" class="form">
      <div class="list">

        <label class="item item-input">
          <div class="input-label">
            Email
          </div>
          <input type="email" ng-model="employeeData.email" maxlength="100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
        </label>

      </div>

      <div class="list">

        <label class="item item-input">
          <div class="input-label">
            First Name
          </div>
          <input type="text" ng-model="employeeData.firstName" maxlength="50" />
        </label>

      </div>

      <div class="list">

        <label class="item item-input">
          <div class="input-label">
            Last Name
          </div>
          <input type="text" ng-model="employeeData.lastName" maxlength="50" />
        </label>

      </div>

      <div class="list">

        <label class="item item-input">
          <div class="input-label">
            Employee ID
          </div>
          <input type="text" ng-model="employeeData.employeeId" maxlength="50" />
        </label>

      </div>


      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Role
          </div>
          <select class="drop-down" ng-model="employeeData.role" >
            <option value="{{role.id}}" ng-repeat="role in strings.ROLES">{{role.prettyName}}</option>
          </select>
        </label>

      </div>

      <div class="list" ng-if="employeeData.role == strings.ROLES[0].id">

        <label class="item item-input" ng-click="supervisorModal.show()">
          <div class="input-label">
            Supervisor Name
          </div>
          <input type="text" ng-model="employeeData.supervisorName" readonly maxlength="50" />
        </label>

      </div>

      <div class="list" ng-if="employeeData.role == strings.ROLES[0].id">

        <label class="item item-input item-select">
          <div class="input-label">
            Job Function
          </div>
          <select class = "drop-down" ng-model="employeeData.jobFunction" >
            <option value="{{jobFunction}}" ng-repeat="jobFunction in jobFunctions ">{{jobFunction}}</option>
          </select>
        </label>

      </div>


      <div class="list">
        <div class="metrics-heading">Location</div>

        <div class="pill-section">
          <span class="pill-tag" ng-class="{ 'pill-selected': selectedOption == 'name' }" ng-click="optionSelection('name')">By Name</span>
          <span class="pill-tag" ng-class="{ 'pill-selected': selectedOption == 'code' }" ng-click="optionSelection('code')">By Code</span>

        </div>
        <label class="item item-input item-select" ng-if="selectedOption == 'name'">
          <div class="input-label">
            Name
          </div>
          <select class = "drop-down" ng-model="employeeData.location" >
            <option value="{{location.locationId}}" ng-repeat="location in locationNameIdMapping ">{{location.locationName}}</option>
          </select>
        </label>



        <label class="item item-input item-select" ng-if="selectedOption == 'code'">
          <div class="input-label">
            Code
          </div>
          <select class = "drop-down" ng-model="employeeData.location" >
            <option value="{{location.locationId}}" ng-repeat="location in locationNameIdMapping ">{{location.locationCode}}</option>
          </select>
        </label>

      </div>


      <div class="form-element">
        <button class="button btn btn-info" ng-click="addUser()">Add Employee</button>
      </div>

    </form>

    <br><br><br>
  </ion-content>
</ion-view>

