<div class="overlay-panel">
  <div>
    <input type="text" ng-model="claimInfo.description" placeholder="Description (optional)" class="claim-input-field" >
  </div>
  <div class="claim-map">
    <div id="initiate-claim-map2" data-tap-disabled="true">
    </div>
    <div class="claim-info-box">
      <div class="claim-info-text">
        <b>Worker Name :</b> {{selectedFeed.name}} <br>
        <b>Incident :</b> {{selectedFeed.name}} {{selectedFeed.message}} at {{selectedFeed.time}} on {{formattedDate}}
      </div>
    </div>
  </div>
</div>


