<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="default-view"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-content class="menu-content">
          <ion-refresher on-refresh="doRefresh()"></ion-refresher>
            <img ng-if="profile.profilePhoto" data-ng-src="data:{{profile.profileMimeType}};base64,{{profile.profilePhoto}}" class="side-menu-pic"/>
            <div class="sidebar-profile-name-initials text-center" ng-if="!profile.profilePhoto">
                {{profile.firstName.charAt(0)}}{{profile.lastName.charAt(0)}}
            </div>
            <div align="center">
                <a class="user-name">{{ profile.firstName }} {{ profile.lastName }}</a>
            </div>
            <div class="list card">
                <a class="item item-dark item-icon-left" menu-close href="#/super-admin/organizations">
                    <i class="icon ion-podium"></i> Organizations
                </a>
                <a class="item item-dark item-icon-left" menu-close href="#/super-admin/profile">
                    <i class="icon ion-person"></i> Profile
                </a>
                <a class="item item-dark item-icon-left" menu-close href="tel:{{callSupportTel}}">
                  <i class="icon ion-ios-telephone"></i> Call for Support
                </a>
                <a class="item item-dark item-icon-left" menu-close href="#/logout">
                    <i class="icon ion-log-out"></i> Sign out
                </a>
            </div>

            <div class="list card">
              <div class="list-items">
                DEVICE STATISTICS
              </div>
                <div class="list-items">
                    Assigned Devices <span class="menu-stat">{{deviceStatistics[strings.DEVICE_STATES.ASSIGNED] || 0 }}</span>
                </div>
                <div class="list-items">
                    Available Devices <span class="menu-stat">{{deviceStatistics[strings.DEVICE_STATES.AVAILABLE] || 0 }}</span>
                </div>
                <div class="list-items">
                    Allocated Devices <span class="menu-stat">{{deviceStatistics[strings.DEVICE_STATES.ALLOCATED] || 0 }}</span>
                </div>
                <div class="list-items">
                    Deleted Devices <span class="menu-stat">{{deviceStatistics[strings.DEVICE_STATES.DELETED] || 0 }}</span>
                </div>
            </div>

          <div class="row1" ng-if="temperature.AmbientTemperature">
            <div>
              <div class="temp-title">
              <i class="icons ion-thermometer"></i>
              </div>
            </div>
            <div class="temp-value2">
              {{temperature.AmbientTemperature}}{{temperatureUnits.AmbientTemperature}}
            </div>
            <div class="col no-padding">

            </div>
          </div>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>

<ion-footer-bar ng-hide="tabHide" align-title="center" class="side-bar-footer">

    <ion-tabs  class="tabs-positive tabs-icon-top main-bottom-tab">

    <ion-tab href="#/super-admin/organizations" ng-click="navOrganizations()" title="Organizations" icon-on="ion-podium selected-ionic-tab-icon"
             icon-off="ion-podium deselected-ionic-tab-icon">
    </ion-tab>

      <ion-tab href="#/super-admin/data-visibility" title="Data Visibility" icon-on="ion-podium selected-ionic-tab-icon"
               icon-off="ion-podium deselected-ionic-tab-icon">
      </ion-tab>
    <!--<ion-tab href="#/super-admin/org-admins" title="Org Admins" icon-on="ion-person selected-ionic-tab-icon"-->
             <!--icon-off="ion-person deselected-ionic-tab-icon">-->
    <!--</ion-tab>-->

    <ion-tab href="#/super-admin/device-manufacturers" title="Device Manufacturers"
             icon-on="ion-person selected-ionic-tab-icon" icon-off="ion-person deselected-ionic-tab-icon">
    </ion-tab>



    </ion-tabs>

</ion-footer-bar>



