$container-width: 100%;

$modjoul-blue: #0085c3;

$main-white: #FFFFFF;
$modjoul-spruce: #C1C923;
$modjoul-black: #262626;
$modjoul-brown: #B06804;
$modjoul-main-font-color: #262626;
$modjoul-light-gray: #E9E9E9;
$modjoul-filter-gray: #e0e0e0;

$modjoul-background-orange: #FFE0B2;

$modjoul-green: #54AA09;
$modjoul-red: #C50808;
$modjoul-backgrd-color: #EDEDED;
$modjoul-orange: #F99D1C;
$modjoul-dark-orange: #DD8305;
$modjoul-gray: #636363;
$modjoul-pink: #E1435B;
$modjoul-yellow: #F9D316;
$modjoul-green-health: #5cb85c;
$modjoul-red-health: #d9534f;
$modjoul-info-health: #5bc0de;