page-popup-messages {

}

.compact-details{
    padding: 0%
}

.warning-img{
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    position: center;
    overflow: hidden;
    max-width: 29px;
    border-radius: 10px;
    text-align: center;
    font-size:2rem !important;
    //position: top !important;
    //top: 20px !important;
    //margin: 0 auto !important;
    // background-color: #D5792E;
    color: $modjoul-yellow; //#D5792E
    padding: 0%;
 }


 .ion-login-modal-controller {
    width: 70%; 
    height: 25%;
    position: absolute;
    overflow: hidden;
    max-width: 320px;
    border-radius: 10px;
    text-align: center;
    // width: 90vw;
    // height: 50vh !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgb(53, 51, 50);
    background-color: #fafafa;
    overflow-y: hidden;
}
