<ion-view view-title="Configure Metrics">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="main-background">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="form modjoul-form">
      <div ng-if="configCategories" ng-repeat="configItem in configCategories">
        <div class = "config-type-title">{{strings.ORG_CONFIG.PRETTY[configItem.title]}}</div>
        <div class ="config-box">

          <ul  ng-repeat="option in configOptions[configItem.count]">

            <li class="item item-toggle" ng-if="strings.ORG_CONFIG.PRETTY[option]">
              {{ strings.ORG_CONFIG.PRETTY[option]}} {{selected[configItem.count][option]}}
              <label class="toggle toggle-energized">
                <input type="checkbox" ng-model="selected[configItem.title][option]" >
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>

          </ul>
        </div>

      </div>

      <div class="config-button" ng-if="configCategories">
        <button class="button btn btn-info" ng-click="closeConfiguration()">Save</button>
      </div>
    </div>
    <br><br><br><br><br>
  </ion-content>
</ion-view>


