<ion-view view-title="Data Visibility">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ng-click="openAddDataVisibility()">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="main-background">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <div class="form-element">
      <select class="device-drop-down" ng-model="selectedOrg" ng-change ="checkOriginators(selectedOrg)">
        <option value="">Data Consumer Organization</option>
        <option value="{{organization.orgId}}" ng-repeat="organization in organizations">{{organization.orgName ? organization.orgName : organization.name}}</option>
      </select>
    </div>
    <div class="modjoul-list">
    <ion-list can-swipe="listCanSwipe">
      <ion-item ng-repeat="item in orgVisibilityItems">
        <div class="user-details">{{getOrgName(item)}}</div>
        <ion-option-button class="button-assertive"
                           ng-click="showDeleteConfirmation(item)">
          Delete
        </ion-option-button>
      </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>

