<ion-view view-title="Employees">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ng-click="setupWiFiWizard()">
      <i class="fa fa-wifi" aria-hidden="true"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="main-background">
    <div class="view-title-dev" align="center">
      <div class="row1">
        <div class="col">
          <div>
            <div align="center" class="col rounded-box_card_buttons" ng-click="navEmployees()">
              <div class="button_card_icon_slips"><img src="img/icons/employee-card.png" width="70" height="70" /></div>
              <div class="item-cardButton item-cardButton-text-wrap">
                <span class="aggressive-title_safetyButtons">Employees</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col" >
          <div>
            <div align="center" class="col rounded-box_card_buttons" ng-click="navSupervisors()">
              <div class="button_card_icon_slips"><img src="img/icons/supervisor.png" width="70" height="70" /></div>
              <div class="item-cardButton item-cardButton-text-wrap">
                <span class="aggressive-title_safetyButtons">Supervisors</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row1">
        <div class="col">
          <div>
            <div align="center" class="col rounded-box_card_buttons" ng-click="navAddUser()">
              <div class="button_card_icon_slips"><img src="img/icons/add-user.png" width="70" height="70" /></div>
              <div class="item-cardButton item-cardButton-text-wrap">
                <span class="aggressive-title_safetyButtons">Add User</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    <div class="menu-container"></div>

    </div>
  </ion-content>
</ion-view>
